<!doctype HTML>
<html lang="en">
<head>
	<title>{{page.title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Exo|Vollkorn' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="standard.css" type="text/css"/>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-2">
				<h4><a href="/">Home</a></h4>
                                <h4><a href="https://www.google.com/calendar/embed?src=otfrom.com_pkatmn3n1ff8l5bvls3cnc01mc%40group.calendar.google.com&ctz=Europe/London">Calendar of Events</a></h4>
				<h4><a href="/dojos.html">Dojos</a></h4>
                                <h4><a href="https://skillsmatter.com/explore?content=skillscasts&location=&q=clojure">Recorded Talks</a></h4>
                                <h4><a href="http://groups.google.com/group/london-clojurians">Mailing List</a></h4>
                                <h4><a href="https://groups.google.com/forum/#!forum/london-clojurian-jobs">London Clojurians Jobs</a></h4>
                                <h4><a href="/code-of-conduct.html">Code of Conduct</a></h4>
			</div>
			<div class="col-xs-6">
				{{ content }}
			</div>
                        <div class="col-xs-4">
                          <iframe src="https://www.google.com/calendar/embed?title=Upcoming%20Events&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23EDE9D8&amp;src=otfrom.com_pkatmn3n1ff8l5bvls3cnc01mc%40group.calendar.google.com&amp;color=%23000000&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="320" height="600" frameborder="0" scrolling="no"></iframe>
                        </div>
		</div>
	</div>
</body>
</html>
